.btn-crud {
    display: flex;
    width: 36px;
    justify-content: center;
    height: 36px;
    align-items: center;
    color: #fff;
    text-decoration: none;
    border-radius: 42%;
    margin: 4px;
}

.espacioTituloTabla {
    padding-left: 10px;
}