<div class="ed-grid s-grid-1 m-grid-2 lg-grid-4 xl-grid-4 ">
    <!-- tarjetas pequenias -->


    <article class="card l-block  ">
        <!-- Póster y contenido -->
        <div class="ed-grid s-grid-3 m-grid-5 lg-grid-5 s-gap-2 m-pxy-1 degradado-1 tarjetas-informativas mat-elevation-z8">
            <!-- Contenedor de la imagen -->
            <div class="s-cols-1 m-cols-1 lg-cols-2 img-container s-ratio-2-2 s-radius-tl s-radius-tr m-radius contenedor-tarjeta-img">
                <img src="/assets/img/tarjetas/dinero-1.png">
            </div>
            <!-- Contenido -->
            <div class="s-cols-2 m-cols-4 lg-cols-3 s-pxy-2 m-pxy-0 ">
                <h1> $ 121,000</h1>
                <p class="s-mb-0">Nuevas solicitudes </p>
            </div>
        </div>
    </article>
    <article class="card l-block  ">
        <!-- Póster y contenido -->
        <div class="ed-grid s-grid-3 m-grid-5 lg-grid-5 s-gap-2 m-pxy-1 degradado-2 tarjetas-informativas mat-elevation-z8">
            <!-- Contenedor de la imagen -->
            <div class="s-cols-1 m-cols-1 lg-cols-2 img-container s-ratio-2-2 s-radius-tl s-radius-tr m-radius contenedor-tarjeta-img">
                <img src="/assets/img/tarjetas/ventas-1.png">
            </div>
            <!-- Contenido -->
            <div class="s-cols-2 m-cols-4 lg-cols-3 s-pxy-2 m-pxy-0 ">
                <h1> $ 121,000</h1>
                <p class="s-mb-0">Nuevas solicitudes</p>
            </div>
        </div>
    </article>
    <article class="card l-block  ">
        <!-- Póster y contenido -->
        <div class="ed-grid s-grid-3 m-grid-5 lg-grid-5 s-gap-2 m-pxy-1 degradado-3 tarjetas-informativas mat-elevation-z8">
            <!-- Contenedor de la imagen -->
            <div class="s-cols-1 m-cols-1 lg-cols-2 img-container s-ratio-2-2 s-radius-tl s-radius-tr m-radius contenedor-tarjeta-img">
                <img src="/assets/img/tarjetas/pedidos-2.png">
            </div>
            <!-- Contenido -->
            <div class="s-cols-2 m-cols-4 lg-cols-3 s-pxy-2 m-pxy-0 ">
                <h1> 30</h1>
                <p class="s-mb-0">Nuevas solicitudes</p>
            </div>
        </div>
    </article>
    <article class="card l-block  ">
        <!-- Póster y contenido -->
        <div class="ed-grid s-grid-3 m-grid-5 lg-grid-5 s-gap-2 m-pxy-1 degradado-4 tarjetas-informativas mat-elevation-z8">
            <!-- Contenedor de la imagen -->
            <div class="s-cols-1 m-cols-1 lg-cols-2 img-container s-ratio-2-2 s-radius-tl s-radius-tr m-radius contenedor-tarjeta-img">
                <img src="/assets/img/tarjetas/critico-2.png">
            </div>
            <!-- Contenido -->
            <div class="s-cols-2 m-cols-4 lg-cols-3 s-pxy-2 m-pxy-0 ">
                <h1> 15</h1>
                <p class="s-mb-0">Nuevas solicitudes</p>
            </div>
        </div>
    </article>




</div>

<div class="ed-grid s-grid-1 m-grid-1 lg-grid-2 xl-grid-2">
    <!-- tarjetas pequenias -->
    <div class="card color-azul l-block">
        Grafica 2
    </div>
    <div class="card color-azul l-block">
        Grafica 2
    </div>
</div>

<div class="ed-grid s-grid-1 m-grid-1 lg-grid-2 xl-grid-2">
    <!-- tarjetas pequenias -->
    <div class="card color-azul l-block">
        Grafica 2
    </div>
    <div class="card color-azul l-block">
        <!-- tarjetas pequenias -->
        <div class="card color-azul l-block">
            <h1>In development process</h1>



        </div>

    </div>
</div>



<div class="ed-grid s-grid-1 m-grid-1 lg-grid-1 xl-grid-1">

</div>